.image-holder {
  display: flex;
  justify-content: center;
}

.bg2 {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
      rgba(27, 190, 150, 0.486),
      rgba(92, 17, 110, 0.479)
    ),
    url("../images/bg7.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.back-arrow {
  margin: 50px;
  color: #fff;
}

.slider {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.text-area {
  padding: 100px;
  padding-top: 60px;
  justify-content: center;
  align-items: center;
}

.text-block {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: rgba(63, 67, 92, 0.6);
  padding: 40px;
  margin: 22px;
  border-radius: 20px;
  color: white;
  transition: all 1s;
}

.text-block:hover {
  transform: scale(1.01);
}

.image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.2;
}

.right-arrow:hover {
  opacity: 1;
  transition: all 1s;
}

.right-arrow:not(hover) {
  opacity: 0.2;
  transition: all 1s;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.2;
}

.left-arrow:hover {
  opacity: 1;
  transition: all 1s;
}

.left-arrow:not(hover) {
  opacity: 0.2;
  transition: all 1s;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.text,
.title-text {
  padding-top: 20px;
}

.text {
  font-size: 20px;
}

.tags {
  margin-top: 50px;
  margin-left: -30px;
  flex: 8;
  color: white;
}

.test {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-tag {
  font-size: 13px;
  margin-right: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
  /* border: 2px solid rgb(62, 59, 212); */
  background: rgba(63, 67, 92, 0.6);
  border-radius: 30px;
  color: 1px solid rgb(62, 59, 212);
}

.title-text {
  font-size: 30px;
}

.tags-playvideo {
  display: flex;
  /* justify-content: space-between; */
}

.play-btn-holder {
  margin-top: 50px;
  flex: 4;
  display: flex;
  justify-content: flex-end;
  margin-right: -40px;
}

.play-btn {
  border: none;
  font-size: 13px;
  margin-right: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 12px;
  /* background: rgb(62, 59, 212); */
  background: rgba(63, 67, 92, 0.6);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  color: white;
}

.play-btn:hover {
  transform: scale(1.04);
  transition: all 0.2s;
}

/* @media only screen and (max-width: 1300px) {
  .image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
  }
} */

@media only screen and (max-width: 800px) {
  body {
    padding: 0;
    margin: 0;
  }

  .image {
    width: 90%;
    height: 250px;
    object-fit: cover;
    border-radius: 0px;
  }

  .left-arrow {
    position: absolute;
    top: 45%;
    left: 8%;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    opacity: 0.8;
  }

  .right-arrow {
    position: absolute;
    top: 45%;
    right: 8%;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    opacity: 0.8;
  }

  .tags {
    display: none;
  }

  .play-btn-holder {
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
    justify-content: center;
    /* display: flex;
    justify-content: flex-end;
    margin-right: -40px; */
  }

  .play-btn-holder button {
    width: 40%;
  }

  .text-area {
    padding: 10px;
  }

  .title-text {
    font-size: 22px;
  }

  .text {
    font-size: 16px;
  }

  .slider {
    margin-top: 30px;
  }
}
