.slider {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textArea {
  padding: 100px;
  justify-content: center;
  align-items: center;
}

.image {
  width: 800px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0;
}

.right-arrow:hover {
  opacity: 1;
  transition: all 1s;
}

.right-arrow:not(hover) {
  opacity: 0;
  transition: all 1s;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0;
}

.left-arrow:hover {
  opacity: 1;
  transition: all 1s;
}

.left-arrow:not(hover) {
  opacity: 0;
  transition: all 1s;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.text,
.titleText {
  padding-top: 20px;
}

.text {
  font-size: 20px;
}
